:root {
    --primary-color: #0194F3;
    --button-color: #235D9F;
    --black-color: #000;
    --white-color: #fff;
    --grey-color: #CDD0D1;
    --orange-color: #f96d01;

    --text-color: #fff;
    --text-color-grey: #434343;

    --header-topbar-height: 55px;
    --navbar-height: 44px;
}

* {
    box-sizing: inherit;
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
    font-size: 62.5%;
    line-height: 1.6rem;
} 

/* Modal */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    display: none;
    justify-content: center;
    align-items: center;
}

.modal__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    animation: fadeIn ease-in 0.2s;
    /* display: none; */
}

.modal__container {
    position: relative;
    background-color: #fff;
    z-index: 11;
    margin: auto;
    border-radius: 5px;
    animation: growth ease-in 0.2s;
    /* display: none; */
}

/* btn */
.btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 36px;
    border: none;
    margin: 0px 2px;
    padding: 6px 10px;
    border-radius: 6px;
    font-size: 1.4rem;
    font-weight: 500;
    background-color: var(--primary-color);
    color: var(--text-color);
    cursor: pointer;
}

.btn--size-s {
    font-size: 1.2rem;
    font-weight: 400;
    height: 34px;
}

.btn--primary {
    color: var(--white-color);
    background-color: var(--primary-color);
}

.btn--transparent {
    color: var(--white-color);
    background-color: transparent;
    border: 1px solid var(--white-color);
}

.btn-option {
    height: 42px;
    font-size: 1.6rem;
    font-weight: 700;
    border: 1px solid transparent;
    border-radius: 25px;
    padding: 10px 16px;
    margin-right: 4px;
}

.btn-option:hover {
    border: 1px solid var(--white-color);
    cursor: pointer;
}

.btn-option--active-primary {
    background-color: var(--primary-color) !important;
    color: var(--white-color) !important;
}

.btn-option--active-white {
    background-color: var(--white-color) !important;
    color: var(--black-color) !important;
}

.btn-option--size-s {
    display: flex;
    align-items: center;
    height: 32px;
    font-size: 1.4rem;
    padding: 6px 12px;
    background-color: rgba(29, 29, 29, 0.4);
}

.btn-option--size-s:hover {
    border-color: transparent;
}

.deal {
    width: 1200px;
    padding: 24px 0;
}

.deal__heading {
    display: flex;
}

.deal__logo {
    margin-right: 16px;
}

.deal__title {
    font-size: 2.4rem;
    line-height: 2.8rem;
    font-weight: 700;
    color: #e7090e;
}

.deal__subtitle {
    font-size: 1.6rem;
    font-weight: 500;
    color: #8f8f8f;
    margin-top: 12px;
    margin-bottom: 16px;
}

.deal__link {

}

.deal__img {
    width: 1200px;
    max-height: 300px;
    object-fit: cover;
    border-radius: 6px;
}

/* promotion tag */

.promotion {

}

.promotion__list {
    display: flex;
    justify-content: space-between;
    width: 1200px;
}

.promotion__item {
    width: 392px;
    background-color: var(--white-color);
    border-radius: 6px;
    border: 1px solid rgb(175, 175, 175, 0.2);
    box-shadow: -9px 9px 8px rgba(175, 175, 175, 0.3), 9px 9px 8px rgba(175, 175, 175, 0.3)
}


/* booking cards */

.booking-card {

}

.booking-card__list {
    display: flex;
    justify-content: space-between;
}

.booking-card__item {
    width: 292px;
    box-shadow: 0px 4px 10px rgba(3, 18, 26, 0.15);
    border-radius: 10px;
}

.booking-card__img {
    height: 208px;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.booking-card__item--banner .booking-card__img{
    width: 300px;
    height: 404px;
}

.booking-card__heading {
    position: relative;
    color: var(--white-color);
}

.booking-card__location {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 11;
    height: 28px;
    padding: 0 12px;
    line-height: 28px;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 700;
    background-color: #03121a;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.booking-card__location-icon {
    margin-right: 3px;
}

.booking-card__discount {
    position: absolute;
    left: 0;
    bottom: 44px;
    height: 24px;
    width: 104px;
    line-height: 24px;
    padding-left: 8px;
    font-size: 1.2rem;
    font-weight: 700;
    background-color: var(--orange-color);
}   

.booking-card__discount::after {
    position: absolute;
    content: "";
    top: 0;
    right: -12px;
    border-width: 12px;
    border-color:var(--orange-color);
	border-right-color: transparent;
	border-style:solid;
	box-sizing: border-box;
}

.booking-card__tag {
    height: 24px;
    line-height: 24px;
    font-size: 1.2rem;
    font-weight: 500;
    text-align: center;
    background-color: #f0298a;
}

.booking-card__content {
    padding: 14px 8px;
}

.booking-card__title {
    font-size: 1.4rem;
    font-weight: 700;
    color: var(--text-color-grey);
    padding-bottom: 4px;
}

.booking-card__rating {

}

.booking-card__star-icon, .booking-card__star-half-icon{
    font-size: 1.2rem;
    color: #ffdc00;
}

.booking-card__score {
    display: flex;
    align-items: center;
    font-size: 1.6rem;
    font-weight: 500;
    margin: 4px 0;
}

.booking-card__score-span {
    color: #0194f3;
    margin: 0 4px;
}

.booking-card__old-price, .booking-card__note {
    font-size: 1.2rem;
    font-weight: 500;
    color: #8f8f8f;
}

.booking-card__old-price {
    text-decoration: line-through;
}

.booking-card__new-price {
    font-size: 1.4rem;
    font-weight: 700;
    color: var(--orange-color);
    margin: 2px 0;
}

.booking-card__note {

}

.booking-card__footer {
    display: flex;
    width: 1200px;
    justify-content: center;
    margin-top: 14px;
}


@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes growth {
    from {
        transform: scale(0);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}